/* Le Altezze sono provvisorie */
.altezza, .altezza3{
  height: 70px;
}

.altezza2{
  height: 300px;
}

.altezza2, .altezza3, .altezza4, .altezza_img{
  text-align: center;
}

.altezza5{
  width: 10px;
  height: 10px;
}

.cnt_img{
  width: 200px;
  margin: 0 auto;
  padding-bottom: 10px;
}

img{
  width: 100%;
}
h2, h4, h3, p{
  text-transform: uppercase;
}

h4, p{
  color: white;
}

.satanicline{
  display: inline-block;
  width: 15%;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

.star{
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  color: white;
  padding: 0 5px;
}