/* Le Altezze sono provvisorie */
.altezza, .altezza3{
  height: 70px;
}

.altezza2{
  height: 300px;
}

.altezza2, .altezza3, .altezza4, .altezza_img{
  text-align: center;
}

.altezza5{
  width: 10px;
  height: 10px;
}


img{
  width: 100%;
}
h2, h4{
  text-transform: uppercase;
}

h4{
  color: white;
}